<!DOCTYPE html>
<html ng-app="dnneApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link rel="stylesheet" href="style.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
    <script src="app.js"></script>
  </head>

  <body>
  <!--FORM DIV-->
  <div ng-controller="FormCtrl">
    
    <form name="{{form.name}}"
      ng-repeat="form in forms" class="form-style-6">
          
      <div ng-repeat="param in form.params">
        <select type="text" ng-model="param.activation">
          <option value="sigmoid">Sigmoid</option>
          <option value="relu">ReLu</option>
          <option value="tanh">tanH</option>
        </select>
        <input type="number" ng-model="param.size" min="1"/>
      </div>
     
      <input type="button" ng-click="submit(form)" value="{{form.name}}">
      <pre>Current : {{form}}</pre>
    
    </form>
  <pre id="wass">master : {{layerStack}}</pre>
  </div>
  
  <!--CANVAS DIV-->
  <div>
    
  </div>
  
  <!--CODEOUT DIV-->
  <div ng-controller="CodeOutCtrl" >
    
    <section ng-model="layerStack">{{layerStack.stack}}</section>
    <section ng-model="layerStack.stack">
      
      
      <pre class="prettyprint linenums">
      <code class="language-python">
        from keras.models import Sequential
        from keras.layers import Dense, Flatten
        model = Sequential()
      </code>
      <code ng-repeat="elem in layerStack.stack" class="language-python">
      model.add({{elem.name}}())
      </code>
      </pre>
      <input type="button" value="Update">

    </section>
    
  </div>
  
  </body>

</html>

